{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Pessoa</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Cpf</th>
                <td>{{ entity.cpf }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ entity.nome }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Senha</th>
                <td>{{ entity.senha }}</td>
            </tr>
            <tr>
                <th>Rg</th>
                <td>{{ entity.rg }}</td>
            </tr>
            <tr>
                <th>Orgaoemissor</th>
                <td>{{ entity.orgaoEmissor }}</td>
            </tr>
            <tr>
                <th>Endereco</th>
                <td>{{ entity.endereco }}</td>
            </tr>
            <tr>
                <th>Telefone</th>
                <td>{{ entity.telefone }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ entity.tipo }}</td>
            </tr>
            <tr>
                <th>Matricula</th>
                <td>{{ entity.matricula }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('pessoa') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('pessoa_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
